:root{

--vino:#5b1a23;
--kraft:#f4f1ed;
--texto:#1a1a1a;
--blanco:#ffffff;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;

background:var(--kraft);

color:var(--texto);

line-height:1.6;

}



/* NAVBAR */

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 40px;

background:var(--blanco);

border-bottom:1px solid #eee;

position:sticky;

top:0;

}



.logo{

display:flex;

align-items:center;

gap:10px;

font-weight:600;

letter-spacing:2px;

}



.logo img{
height: 76px;px;
}



.nav-links{

list-style:none;

display:flex;

gap:30px;

}



.nav-links a{

text-decoration:none;

color:var(--texto);

font-size:14px;

letter-spacing:1px;

}



/* HERO */

.hero{

height:90vh;

background-image:url("hero.jpg");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

color:white;

}



.hero-overlay{

background:rgba(0,0,0,0.35);

padding:60px;

}



.hero h1{

font-family:'Playfair Display',serif;

font-size:72px;

letter-spacing:8px;

}



.slogan{

font-size:18px;

margin-top:10px;

letter-spacing:2px;

}



.hero-description{

margin-top:20px;

max-width:420px;

margin-left:auto;

margin-right:auto;

}



/* BOTON */

.btn{

display:inline-block;

margin-top:30px;

padding:12px 26px;

background:var(--vino);

color:white;

text-decoration:none;

letter-spacing:1px;

transition:.3s;

}



.btn:hover{

opacity:.85;

}



/* COLECCION */

.coleccion{

padding:100px 40px;

text-align:center;

}



.coleccion h2{

font-family:'Playfair Display',serif;

margin-bottom:50px;

font-size:34px;

}



.grid-productos{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

gap:35px;

}



.producto{

background:white;

padding:25px;

transition:.3s;

}



.producto:hover{

transform:translateY(-6px);

box-shadow:0 10px 25px rgba(0,0,0,0.08);

}



.producto-img{

height:220px;

background:#ddd;

margin-bottom:15px;

}



/* CONCEPTO */

.concepto{

padding:90px 40px;

max-width:700px;

margin:auto;

text-align:center;

}



/* PERSONALIZADOS */

.personalizados{

padding:90px 40px;

background:white;

text-align:center;

}



/* CONTACTO */

.contacto{

padding:100px 40px;

text-align:center;

}



.entrega{

margin-top:20px;

font-size:14px;

opacity:.7;

}



/* FOOTER */

footer{

text-align:center;

padding:40px;

background:white;

margin-top:40px;

font-size:14px;

}

/* MENU HAMBURGUESA */

.menu-toggle{

display:none;
font-size:28px;
cursor:pointer;

}



/* MOBILE */

@media (max-width:768px){

.navbar{
padding:20px;
}

.menu-toggle{
display:block;
}

.nav-links{

position:absolute;

top:70px;
right:0;

background:white;

width:100%;

flex-direction:column;

align-items:center;

gap:25px;

padding:30px;

display:none;

border-top:1px solid #eee;

}

.nav-links.active{
display:flex;
}

}